name: Python package

on: [push]
jobs:
  call-run-python-tests:
    uses: openclimatefix/.github/.github/workflows/python-test.yml@main
    with:
      # pytest-cov looks at this folder
      pytest_cov_dir: "pvoutput"
      # these packages are installed. They are needed for 'cartopy'
      sudo_apt_install: "libgeos-dev libproj-dev"
      # these packages are installed. They are needed for 'cartopy'
      brew_install: "c-blosc hdf5 geos proj"
      API_KEY: ${{ secrets.API_KEY }}
      SYSTEM_ID: ${{ secrets.SYSTEM_ID }}
